---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"private":"true","description":null,"name":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic a2FydGhpay1zaXZhZGFzOjhkNmU1YzRhZDljNDJhN2ZiYjdiNDYyN2RiYmJkMjNjY2RhZGVkZDU=
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1615996156'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"message":"Repository creation failed.","errors":[{"resource":"Repository","code":"missing_field","field":"name"},{"resource":"Repository","code":"custom","field":"name","message":"name
        is too short (minimum is 1 character)"}],"documentation_url":"https://docs.github.com/rest/reference/repos#create-a-repository-for-the-authenticated-user"}'
  recorded_at: Wed, 17 Mar 2021 14:49:16 GMT
recorded_with: VCR 5.1.0
