---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"private":"true","description":"Github API rails app","name":"github_api_test_app"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic a2FydGhpay1zaXZhZGFzOjhkNmU1YzRhZDljNDJhN2ZiYjdiNDYyN2RiYmJkMjNjY2RhZGVkZDU=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9e371ab1ce6819db249021bf54a9839769d46986c086f0c5947368e4056f9f55"'
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      Location:
      - https://api.github.com/repos/karthik-sivadas/github_api_test_app
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1615999915'
      X-Ratelimit-Used:
      - '20'
    body:
      encoding: UTF-8
      string: '{"id":348768364,"node_id":"MDEwOlJlcG9zaXRvcnkzNDg3NjgzNjQ=","name":"github_api_test_app","full_name":"karthik-sivadas/github_api_test_app","private":true,"owner":{"login":"karthik-sivadas","id":6113982,"node_id":"MDQ6VXNlcjYxMTM5ODI=","avatar_url":"https://avatars.githubusercontent.com/u/6113982?v=4","gravatar_id":"","url":"https://api.github.com/users/karthik-sivadas","html_url":"https://github.com/karthik-sivadas","followers_url":"https://api.github.com/users/karthik-sivadas/followers","following_url":"https://api.github.com/users/karthik-sivadas/following{/other_user}","gists_url":"https://api.github.com/users/karthik-sivadas/gists{/gist_id}","starred_url":"https://api.github.com/users/karthik-sivadas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/karthik-sivadas/subscriptions","organizations_url":"https://api.github.com/users/karthik-sivadas/orgs","repos_url":"https://api.github.com/users/karthik-sivadas/repos","events_url":"https://api.github.com/users/karthik-sivadas/events{/privacy}","received_events_url":"https://api.github.com/users/karthik-sivadas/received_events","type":"User","site_admin":false},"html_url":"https://github.com/karthik-sivadas/github_api_test_app","description":"Github
        API rails app","fork":false,"url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app","forks_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/forks","keys_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/keys{/key_id}","collaborators_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/teams","hooks_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/hooks","issue_events_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/issues/events{/number}","events_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/events","assignees_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/assignees{/user}","branches_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/branches{/branch}","tags_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/tags","blobs_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/git/refs{/sha}","trees_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/git/trees{/sha}","statuses_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/statuses/{sha}","languages_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/languages","stargazers_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/stargazers","contributors_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/contributors","subscribers_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/subscribers","subscription_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/subscription","commits_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/commits{/sha}","git_commits_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/git/commits{/sha}","comments_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/comments{/number}","issue_comment_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/issues/comments{/number}","contents_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/contents/{+path}","compare_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/compare/{base}...{head}","merges_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/merges","archive_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/downloads","issues_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/issues{/number}","pulls_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/pulls{/number}","milestones_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/milestones{/number}","notifications_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/labels{/name}","releases_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/releases{/id}","deployments_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app/deployments","created_at":"2021-03-17T15:56:30Z","updated_at":"2021-03-17T15:56:30Z","pushed_at":"2021-03-17T15:56:31Z","git_url":"git://github.com/karthik-sivadas/github_api_test_app.git","ssh_url":"git@github.com:karthik-sivadas/github_api_test_app.git","clone_url":"https://github.com/karthik-sivadas/github_api_test_app.git","svn_url":"https://github.com/karthik-sivadas/github_api_test_app","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"push":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"delete_branch_on_merge":false,"network_count":0,"subscribers_count":1}'
  recorded_at: Wed, 17 Mar 2021 15:56:31 GMT
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic a2FydGhpay1zaXZhZGFzOjhkNmU1YzRhZDljNDJhN2ZiYjdiNDYyN2RiYmJkMjNjY2RhZGVkZDU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c16f1e674800210da30fa54aa90650b45d557166585e80fa92316429ea5b0ca"
      Last-Modified:
      - Wed, 17 Mar 2021 15:52:26 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
     [...]
- request:
    method: get
    uri: https://api.github.com/users/karthik-sivadas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic a2FydGhpay1zaXZhZGFzOjhkNmU1YzRhZDljNDJhN2ZiYjdiNDYyN2RiYmJkMjNjY2RhZGVkZDU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c16f1e674800210da30fa54aa90650b45d55716658[...]
- request:
    method: get
    uri: https://api.github.com/repos/karthik-sivadas/github_api_test_app/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic a2FydGhpay1zaXZhZGFzOjhkNmU1YzRhZDljNDJhN2ZiYjdiNDYyN2RiYmJkMjNjY2RhZGVkZDU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ec5882ceabb34af0604403155287a62a8cc255e3efe72a3b8d5005db26fd4456"'
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.mercy-preview; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1615999915'
      X-Ratelimit-Used:
      - '23'
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Wed, 17 Mar 2021 15:56:32 GMT
recorded_with: VCR 5.1.0
