---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic a2FydGhpay1zaXZhZGFzOjhkNmU1YzRhZDljNDJhN2ZiYjdiNDYyN2RiYmJkMjNjY2RhZGVkZDU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dbc57afe835c3e69e18bdcc587fd3f4b84916b5211fbbbf2f5ff7def0513b2ca"
      Last-Modified:
      - Wed, 17 Mar 2021 15:52:26 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4943'
      X-Ratelimit-Reset:
      - '1615999915'
      X-Ratelimit-Used:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"karthik-sivadas","id":6113982,"node_id":"MDQ6VXNlcjYxMTM5ODI=","avatar_url":"https://avatars.githubusercontent.com/u/6113982?v=4","gravatar_id":"","url":"https://api.github.com/users/karthik-sivadas","html_url":"https://github.com/karthik-sivadas","followers_url":"https://api.github.com/users/karthik-sivadas/followers","following_url":"https://api.github.com/users/karthik-sivadas/following{/other_user}","gists_url":"https://api.github.com/users/karthik-sivadas/gists{/gist_id}","starred_url":"https://api.github.com/users/karthik-sivadas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/karthik-sivadas/subscriptions","organizations_url":"https://api.github.com/users/karthik-sivadas/orgs","repos_url":"https://api.github.com/users/karthik-sivadas/repos","events_url":"https://api.github.com/users/karthik-sivadas/events{/privacy}","received_events_url":"https://api.github.com/users/karthik-sivadas/received_events","type":"User","site_admin":false,"name":"Karthik
        Sivadas","company":null,"blog":"","location":"Bengaluru, India","email":"karthiksivadas@outlook.com","hireable":null,"bio":null,"twitter_username":null,"public_repos":16,"public_gists":0,"followers":0,"following":3,"created_at":"2013-12-05T12:24:44Z","updated_at":"2021-03-17T15:52:26Z","private_gists":0,"total_private_repos":3,"owned_private_repos":2,"disk_usage":1700,"collaborators":1,"two_factor_authentication":true,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
  recorded_at: Wed, 17 Mar 2021 16:45:49 GMT
- request:
    method: get
    uri: https://api.github.com/users/karthik-sivadas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic a2FydGhpay1zaXZhZGFzOjhkNmU1YzRhZDljNDJhN2ZiYjdiNDYyN2RiYmJkMjNjY2RhZGVkZDU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dbc57afe835c3e69e18bdcc587fd3f4b84916b5211f[...]
- request:
    method: delete
    uri: https://api.github.com/repos/karthik-sivadas/github_api_test_app_1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic a2FydGhpay1zaXZhZGFzOjhkNmU1YzRhZDljNDJhN2ZiYjdiNDYyN2RiYmJkMjNjY2RhZGVkZDU=
  response:
    status:
      code: 307
      message: Temporary Redirect
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, delete_repo, read:repo_hook, repo, repo:status, repo_deployment,
        security_events, write:repo_hook
      Location:
      - https://api.github.com/repositories/348768364
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4941'
      X-Ratelimit-Reset:
      - '1615999915'
      X-Ratelimit-Used:
      - '59'
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/348768364","documentation_url":"https://docs.github.com/v3/#http-redirects"}'
  recorded_at: Wed, 17 Mar 2021 16:45:50 GMT
- request:
    method: delete
    uri: https://api.github.com/repositories/348768364
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic a2FydGhpay1zaXZhZGFzOjhkNmU1YzRhZDljNDJhN2ZiYjdiNDYyN2RiYmJkMjNjY2RhZGVkZDU=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4940'
      X-Ratelimit-Reset:
      - '1615999915'
      X-Ratelimit-Used:
      - '60'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 Mar 2021 16:45:51 GMT
[...]
