---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic a2FydGhpay1zaXZhZGFzOjhkNmU1YzRhZDljNDJhN2ZiYjdiNDYyN2RiYmJkMjNjY2RhZGVkZDU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c16f1e674800210da30fa54aa90650b45d557166585e80fa92316429ea5b0ca"
      Last-Modified:
      - Wed, 17 Mar 2021 15:52:26 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1615999915'
      X-Ratelimit-Used:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"karthik-sivadas","id":6113982,"node_id":"MDQ6VXNlcjYxMTM5ODI=","avatar_url":"https://avatars.githubusercontent.com/u/6113982?v=4","gravatar_id":"","url":"https://api.github.com/users/karthik-sivadas","html_url":"https://github.com/karthik-sivadas","followers_url":"https://api.github.com/users/karthik-sivadas/followers","following_url":"https://api.github.com/users/karthik-sivadas/following{/other_user}","gists_url":"https://api.github.com/users/karthik-sivadas/gists{/gist_id}","starred_url":"https://api.github.com/users/karthik-sivadas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/karthik-sivadas/subscriptions","organizations_url":"https://api.github.com/users/karthik-sivadas/orgs","repos_url":"https://api.github.com/users/karthik-sivadas/repos","events_url":"https://api.github.com/users/karthik-sivadas/events{/privacy}","received_events_url":"https://api.github.com/users/karthik-sivadas/received_events","type":"User","site_admin":false,"name":"Karthik
        Sivadas","company":null,"blog":"","location":"Bengaluru, India","email":"karthiksivadas@outlook.com","hireable":null,"bio":null,"twitter_username":null,"public_repos":16,"public_gists":0,"followers":0,"following":3,"created_at":"2013-12-05T12:24:44Z","updated_at":"2021-03-17T15:52:26Z","private_gists":0,"total_private_repos":3,"owned_private_repos":2,"disk_usage":1694,"collaborators":1,"two_factor_authentication":true,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
  recorded_at: Wed, 17 Mar 2021 16:21:07 GMT
- request:
    method: get
    uri: https://api.github.com/users/karthik-sivadas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic a2FydGhpay1zaXZhZGFzOjhkNmU1YzRhZDljNDJhN2ZiYjdiNDYyN2RiYmJkMjNjY2RhZGVkZDU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c16f1e674800210da30fa54aa90650b45d55716658[...]
- request:
    method: patch
    uri: https://api.github.com/repos/karthik-sivadas/github_api_test_app
    body:
      encoding: UTF-8
      string: '{"name":"github_api_test_app_1","description":"This is an updated description"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic a2FydGhpay1zaXZhZGFzOjhkNmU1YzRhZDljNDJhN2ZiYjdiNDYyN2RiYmJkMjNjY2RhZGVkZDU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b263dddd968ce56cda5671f9a6ed77d98cffe233f6af2139f2892e9a404e2910"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4954'
      X-Ratelimit-Reset:
      - '1615999915'
      X-Ratelimit-Used:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"id":348768364,"node_id":"MDEwOlJlcG9zaXRvcnkzNDg3NjgzNjQ=","name":"github_api_test_app_1","full_name":"karthik-sivadas/github_api_test_app_1","private":true,"owner":{"login":"karthik-sivadas","id":6113982,"node_id":"MDQ6VXNlcjYxMTM5ODI=","avatar_url":"https://avatars.githubusercontent.com/u/6113982?v=4","gravatar_id":"","url":"https://api.github.com/users/karthik-sivadas","html_url":"https://github.com/karthik-sivadas","followers_url":"https://api.github.com/users/karthik-sivadas/followers","following_url":"https://api.github.com/users/karthik-sivadas/following{/other_user}","gists_url":"https://api.github.com/users/karthik-sivadas/gists{/gist_id}","starred_url":"https://api.github.com/users/karthik-sivadas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/karthik-sivadas/subscriptions","organizations_url":"https://api.github.com/users/karthik-sivadas/orgs","repos_url":"https://api.github.com/users/karthik-sivadas/repos","events_url":"https://api.github.com/users/karthik-sivadas/events{/privacy}","received_events_url":"https://api.github.com/users/karthik-sivadas/received_events","type":"User","site_admin":false},"html_url":"https://github.com/karthik-sivadas/github_api_test_app_1","description":"This
        is an updated description","fork":false,"url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1","forks_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/forks","keys_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/keys{/key_id}","collaborators_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/teams","hooks_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/hooks","issue_events_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/issues/events{/number}","events_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/events","assignees_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/assignees{/user}","branches_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/branches{/branch}","tags_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/tags","blobs_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/git/refs{/sha}","trees_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/git/trees{/sha}","statuses_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/statuses/{sha}","languages_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/languages","stargazers_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/stargazers","contributors_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/contributors","subscribers_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/subscribers","subscription_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/subscription","commits_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/commits{/sha}","git_commits_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/git/commits{/sha}","comments_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/comments{/number}","issue_comment_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/issues/comments{/number}","contents_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/contents/{+path}","compare_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/compare/{base}...{head}","merges_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/merges","archive_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/downloads","issues_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/issues{/number}","pulls_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/pulls{/number}","milestones_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/milestones{/number}","notifications_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/labels{/name}","releases_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/releases{/id}","deployments_url":"https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/deployments","created_at":"2021-03-17T15:56:30Z","updated_at":"2021-03-17T16:21:08Z","pushed_at":"2021-03-17T15:56:31Z","git_url":"git://github.com/karthik-sivadas/github_api_test_app_1.git","ssh_url":"git@github.com:karthik-sivadas/github_api_test_app_1.git","clone_url":"https://github.com/karthik-sivadas/github_api_test_app_1.git","svn_url":"https://github.com/karthik-sivadas/github_api_test_app_1","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"push":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"delete_branch_on_merge":false,"network_count":0,"subscribers_count":1}'
  recorded_at: Wed, 17 Mar 2021 16:21:08 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/karthik-sivadas/github_api_test_app_1/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic a2FydGhpay1zaXZhZGFzOjhkNmU1YzRhZDljNDJhN2ZiYjdiNDYyN2RiYmJkMjNjY2RhZGVkZDU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ec5882ceabb34af0604403155287a62a8cc255e3efe72a3b8d5005db26fd4456"'
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.mercy-preview; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4951'
      X-Ratelimit-Reset:
      - '1615999915'
      X-Ratelimit-Used:
      - '49'
    body:
      encoding: UTF-8
      string: '{"names":[]}'
  recorded_at: Wed, 17 Mar 2021 16:21:10 GMT
recorded_with: VCR 5.1.0
